<a href="https://colab.research.google.com/github/omarsaber10/my-project-/blob/main/Fake_News_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## Importing Libraries
---

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


---
## Importing Dataset
---

In [ ]:
df_fake = pd.read_csv(r"E:\Courses\NTI\ML\Project\Fake.csv\Fake.csv", on_bad_lines='skip', low_memory=False)
df_true = pd.read_csv(r"E:\Courses\NTI\ML\Project\True.csv\True.csv", on_bad_lines='skip', low_memory=False)

In [ ]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [ ]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

---
# *Data preparation*
---

_**Inserting a column "class" as target feature**_

In [ ]:
df_fake["class"] = 0
df_true["class"] = 1

In [ ]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [ ]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [ ]:
news = pd.concat([df_fake, df_true], ignore_index=True)

In [ ]:
news.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [ ]:
news.tail()

,title,text,subject,date,class
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [ ]:
news = news.sample(frac = 1)
news.head()

,title,text,subject,date,class
5031,The New York Daily News Brutally Rips Rudy Gi...,Rudy Giuliani just committed the greatest sin ...,News,"August 16, 2016",0
9835,‘Die Hard’ Lion’s Fan Gives Best Ever #Boycott...,This heartfelt Facebook comment by a Detroit L...,politics,"Sep 24, 2017",0
14790,DNC Chair Asks Democrat Members Of Congress To...,Debbie Wasserman-Schultz didn t ask members of...,politics,"Dec 15, 2015",0
29726,Trump spokesman to brief press on Thursday,(Reuters) - Donald Trump’s spokesman said his ...,politicsNews,"January 18, 2017",1
15907,YEA! GOP SENATOR GOES OFF On Liberal Dem Spout...,Dem Sherrod Brown and GOP Senator Orrin Hatch ...,Government News,"Nov 17, 2017",0

In [ ]:
news.reset_index(inplace=True)  # Resetting the index
news.head()

,index,title,text,subject,date,class
0,5031,The New York Daily News Brutally Rips Rudy Gi...,Rudy Giuliani just committed the greatest sin ...,News,"August 16, 2016",0
1,9835,‘Die Hard’ Lion’s Fan Gives Best Ever #Boycott...,This heartfelt Facebook comment by a Detroit L...,politics,"Sep 24, 2017",0
2,14790,DNC Chair Asks Democrat Members Of Congress To...,Debbie Wasserman-Schultz didn t ask members of...,politics,"Dec 15, 2015",0
3,29726,Trump spokesman to brief press on Thursday,(Reuters) - Donald Trump’s spokesman said his ...,politicsNews,"January 18, 2017",1
4,15907,YEA! GOP SENATOR GOES OFF On Liberal Dem Spout...,Dem Sherrod Brown and GOP Senator Orrin Hatch ...,Government News,"Nov 17, 2017",0

In [ ]:
news = news.drop(['date','subject','index','title'], axis=1)
news.head()

                                                text  class
0  Rudy Giuliani just committed the greatest sin ...      0
1  This heartfelt Facebook comment by a Detroit L...      0
2  Debbie Wasserman-Schultz didn t ask members of...      0
3  (Reuters) - Donald Trump’s spokesman said his ...      1
4  Dem Sherrod Brown and GOP Senator Orrin Hatch ...      0

In [ ]:
news.dropna(inplace=True)

In [ ]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    44898 non-null  object
 1   class   44898 non-null  int64
dtypes: int64(1), object(1)
memory usage: 701.7+ KB

In [ ]:
news.shape

(44898, 2)

In [ ]:
news.isnull().sum()

text     0
class    0
dtype: int64

In [ ]:
news.duplicated().sum()

6251

In [ ]:
news.drop_duplicates(inplace=True)
news.duplicated().sum()

0

In [ ]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'\W+', ' ', text)
    return text.strip()

In [ ]:
news['text'] = news['text'].apply(clean_text)

---
# Modelling
---

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer  #? convert text to numerical data
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(news['text'])  # Feature

In [ ]:
y = news['class']   # Target

## MultinomialNB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 93.91%

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100)
rf_model.fit(X_train, y_train)
y_rf_pred = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, y_rf_pred)
print(f"Random Forest Accuracy: {rf_accuracy * 100:.2f}%")

Random Forest Accuracy: 98.20%

## Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)
y_dt_pred = dt_model.predict(X_test)
dt_accuracy = accuracy_score(y_test, y_dt_pred)
print(f"Decision Tree Accuracy: {dt_accuracy * 100:.2f}%")

Decision Tree Accuracy: 99.39%

## Logistic Regression

In [ ]:
# logistic regression
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(max_iter=1000,class_weight='balanced', random_state=42)
logistic_model.fit(X_train, y_train)
y_logistic_pred = logistic_model.predict(X_test)
logistic_accuracy = accuracy_score(y_test, y_logistic_pred)
print(f"Logistic Regression Accuracy: {logistic_accuracy * 100:.2f}%")

Logistic Regression Accuracy: 98.64%

---
# predictive system
---

In [ ]:
import re  # clean text
import joblib   # save model

In [ ]:

joblib.dump(logistic_model, 'model.pkl')  #save model
joblib.dump(vectorizer, 'vectorizer.pkl')  #save vectorizer

# Load  model and vectorizer
model = joblib.load('model.pkl')
vectorizer = joblib.load('vectorizer.pkl')


def clean_text(text):
    text = text.lower()
    text = re.sub(r'\W+', ' ', text)  # Remove special characters
    return text.strip()

def predict_news(text):
    cleaned = clean_text(text)
    vectorized = vectorizer.transform([cleaned])
    prediction = logistic_model.predict(vectorized)[0]
    return "✅ Real News" if prediction == 1 else "❌ Fake News"

In [ ]:
new_text = input("Enter news text to predict:\n> ")
print(predict_news(new_text))

❌ Fake News

In [ ]:
#?  real
"""
The Prime Minister held a press conference to address the economic crisis
The President delivered a national speech on the recent inflation surge
Government officials met to discuss new economic recovery plans
The Health Minister held a briefing on the country's financial challenges during the pandemic.
A new economic strategy was unveiled to boost national exports



#? fake
"Aliens have landed in Texas and are demanding to speak to the president."
"Scientists found a way to live forever using banana peels."
"Drinking cola every morning cures all types of cancer, says study."
"A man claims he can fly using only his mind and positive thoughts."
"Time travel device accidentally sold on eBay for $25."

'Time travel device accidentally sold on eBay for $25.'